/* ALL */
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
    color: #fff !important;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* BODY/HTML */
body {
    margin: 0;
    background-color: white;
    line-height: 1.5;
}
html {
    font-size: 16px;
    width: 100%;
}

/* HEADER */
.hero {
    height: 96vh;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/background.jpg") center/cover no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
}

.nav {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 0 40px;
}


.nav>a{font-size: clamp(18px, 2.5vw, 32px); color: rgb(255, 255, 255); transition: all 0.3s;}
.nav>a:hover{color: rgba(255, 172, 48, 0.849) !important;}

.menu{
    display: flex;
    gap: 20px;
    list-style-type: none;
    height: 100%;
    align-items: center;

}
a{    
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: clamp(14px, 1.5vw, 20px);
    transition: all 0.2s;
}

.menu>li>a:hover{
    color: rgba(255, 172, 48, 0.849) !important;
    font-size: clamp(16px, 1.8vw, 24px);
}

/* HERO-CONTENT */

.hero-content{
    min-height: 800px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content > h1{
    margin-top: -100px;
    color: #ffffff;
    text-align: center;
    font-size: clamp(28px, 5vw, 56px);
}

.hero-content > p{color: #ffffff; text-align: center; font-size: clamp(16px, 2.5vw, 22px);}
.hero-content > a{border: 2px solid white; padding: 4px 8px 4px 8px; transform: translateY(140px); transition: all 0.3s; }
.hero-content > a:hover{background: #d37f1e;}

/* MAIN */
.coffee{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;

}

section:nth-child(1){width: 47%;}
section:nth-child(2){width: 33%;}

section:nth-child(2) > div > p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

section:nth-child(3) > div > p {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

section:nth-child(1)>img, section:nth-child(2)>img{border-radius: 1rem 0 0 1rem;}
section:nth-child(3)>img, section:nth-child(4)>img{border-radius: 0 1rem 1rem 0;}

section{ 
    width: 40%;
    height: 300px;
    border: 1px solid #e2e2e2;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

section>div>p{font-size: 1.3rem;}
section>div{padding: 10px 15px 10px 15px;}

.container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

article>p{font-size: clamp(12px, 1.2rem, 22px); line-height: 1.5;}
article>p>img{height: 25px; padding-right: 20px;}

/* map */
.map{
    border: 1px solid #e2e2e2;
    display: flex;
    width: 73%;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    flex-wrap: wrap;
    
}

iframe{
    border-radius: 20px;
    width: 50%;
    height: 400px;
    border-radius: 20px;
}

.adress{padding-right: 60px;}
.adress > h3 {font-size: clamp(18px, 2vw, 28px);}
.adress > p {font-size: clamp(14px, 1.5vw, 18px);}


.contact{
    width: 90%;
    margin-top: 72px;
    display: flex;
    align-items: center;
    height: 500px;
}

form{
    border: 2px solid #e2e2e2;
    border-radius: 1rem;
    padding: 75px 0 75px 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

form>div>h2{font-size: clamp(14px, 2vw, 28px);}

form>div>input{border: none; border-bottom: 1px solid rgb(68, 206, 5); height: 48px; width: 350px;}
form>div{display: flex; flex-direction: column; height: 276px; justify-content: center;}
textarea{width: 712px; height: 185px; padding-left: 18px; padding-top: 5px; font-size: clamp(12px, 1vw, 18px);}
input:nth-child(5){width: 350px; height: 48px; font-size: 1vw;}
input:nth-child(7){width: 350px; height: 48px; font-size: 1vw;}
button{margin-top: 16px; background: none; padding: 10px; transition: 0.3s all; cursor: pointer; height: 50px;}
button:hover{ background: rgb(68, 206, 5);}



/* FOOTER */
footer{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #000;
}

footer>a{font-size: clamp(12px, 1vw, 18px); color: #888888 !important; margin-left: 5vw;}
footer>a:hover{color: #ffffff;}




/* @MEDIA */
@media (max-width: 768px) {
  section {
    width: 100% !important;
  }
  .menu{
    gap: 10px !important;
  }
  .nav{
    padding: 0 25px !important;
  }
  .coffee>p{
    text-align: start !important;
  }
  .coffee{ justify-content: start !important; margin-left: 5px !important;}
  .map {
    flex-direction: column;
    width: 97%;
    gap: 20px;
  }
  textarea{
    width: 100%;
  }
  iframe{
    border-radius: 20px 20px 0 0;
    width: 100%;
  }
  form>div:nth-child(1){ width: 100%;}

  article{margin-left: 5px;}
  .container{ margin-top: 50px !important;}
}

@media (max-width: 1200px){
  form{border: none; padding: 75px 0 0 0;}
}

@media (max-width: 1440px){section> img{ display: none;}}

@media (max-width: 1180px){footer{margin-top: 60px;} textarea{border: 1px solid rgb(68, 206, 5);}}
@media (max-width: 375px){section:nth-child(1){height: 350px;}}
@media (max-width: 320px){section:nth-child(1){height: 375px;}}
@media (max-width: 280px){section:nth-child(1){height: 450px;}}
@media (max-width: 244px){section:nth-child(1){height: 470px;}}
@media (max-width: 375px){form>div>input{width: 300px;}}